<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/style.css">
<head>
    <title>Lista de Alunos</title>
</head>
<body>
<h2>Lista de Alunos</h2>
<table>
    <thead>
    <tr>
        <th>RG</th>
        <th>Nome</th>
        <th>Saldo de Moedas</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.rg}"></td>
        <td th:text="${aluno.nome}"></td>
        <td th:text="${aluno.saldoMoedas}"></td>
        <td>
            <a th:href="@{/alunos/editar/{rg}(rg=${aluno.rg})}">Editar</a> |
            <a th:href="@{/alunos/excluir/{rg}(rg=${aluno.rg})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/alunos/novo">Novo Aluno</a>
</body>
</html>
