<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/style.css">
<head><title>Cadastro de Aluno</title></head>
<body>
    <header>
        <div class="header-container">
            <a href="/" class="home-link">
                <h1>Educoin</h1>
            </a>
            
        </div>
    </header>
<h2>Cadastro de Aluno</h2>
<form action="/alunos/cadastro" method="post" th:object="${aluno}">
    <label>RG:</label><input type="text" th:field="*{rg}" required /><br/>
    <label>Nome:</label><input type="text" th:field="*{nome}" required /><br/>
    <label>Email:</label><input type="text" th:field="*{email}" required /><br/>
    <label>Senha:</label><input type="password" th:field="*{senha}" required /><br/>
    <label>Instituição:</label>
    <select th:field="*{instituicao}">
        <option th:each="inst : ${instituicoes}" th:value="${inst.id}" th:text="${inst.nome}"></option>
    </select>
    <label>Curso:</label>
    <input type="text" th:field="*{curso}" required /><br/> 
    <button type="submit">Cadastrar</button>
</form>
<p>Já tem conta? <a href="/alunos/login">Fazer login</a></p>
</body>
</html>
