<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

    <link rel="stylesheet" href="/css/style.css">
<body>
<header>
    <header>
    <div class="header-container">
        <a href="/" class="home-link">
            <h1>Educoin</h1>
        </a>
    </div>
</header>
<main>
    <nav>
        <a href="/empresa-login">Sou empresário</a>
    </nav>
    <nav>
        <a href="/aluno-login">Sou aluno</a>
    </nav>
    <nav>
        <a href="/professor-login">Sou professor</a>
    </nav>
</main>
<footer>
    <hr>
    <p>&copy; 2025 Educoin. Todos os direitos reservados.</p>
</footer>
</body>
</html>